In [2]:
import pandas
pandas.__version__

'1.5.3'

In [ ]:
---
title: "Projeto 04"
author: "Loreini Kresko"
date: "21 de junho de 2023"
lang: pt
format: 
  html:
    code-tools: true
    code-fold: true
    default-image-extension: png
    page-layout: full
jupyter: python3
---

In [9]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\loreine\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\loreine\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\loreine\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\loreine\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\loreine\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

# Votação do PROS - deputado estadual 2014 e 2018

In [10]:
import pandas as pd

arquivo = "Votação deputado estadual.csv"
df = pd.read_csv(arquivo, sep=';') 
df.head(500)

   Sigla  Código               Estado  Ano2014  Ano2018
0     AC      12                 Acre     6414    12917
1     AL      27              Alagoas    80189    30692
2     AM      13             Amazonas    74424     7599
3     AP      16                Amapá    19737     8041
4     BA      29                Bahia    50724     4796
5     CE      23                Ceará   919367   206086
6     DF      53     Distrito Federal    20549    86917
7     ES      32       Espírito Santo    19019    31716
8     GO      52                Goiás    55845   191721
9     MA      21             Maranhão    13573    32523
10    MG      31         Minas Gerais   151611   189560
11    MS      50   Mato Grosso do Sul    10330     2373
12    MT      51          Mato Grosso    31610    35502
13    PA      15                 Pará   112708    30554
14    PB      25              Paraíba    25807     8248
15    PE      26           Pernambuco    53985    66171
16    PI      22                Piauí    35144    15761
17    PR      41               Paraná    22518   163214
18    RJ      33       Rio de Janeiro   106682   123819
19    RN      24  Rio Grande do Norte   266738    33550
20    RO      11             Rondônia     2122    14430
21    RR      14              Roraima     8382     2847
22    RS      43    Rio Grande do Sul    16882    45751
23    SC      42       Santa Catarina    17695     3278
24    SE      28              Sergipe    18110      553
25    SP      35            São Paulo   120661   309886
26    TO      17            Tocantins    32653    29149

Total de votos arrecadado a cada ano.

In [2]:
soma = df['Ano2014'].sum()
print("A soma do ano de 2014 é;",soma)

soma = df['Ano2018'].sum()
print("A soma é de 2018 é;",soma)

A soma do ano de 2014 é; 2293479
A soma é de 2018 é; 1687654

In [ ]:
Total de votos arrecadados no Ano2014 e no Ano2015

In [9]:
soma = lambda Ano2014,Ano2018: Ano2014+Ano2018
soma(2293479,1687654)

3981133

In [82]:
Paraná2014 = 22518
Paraná2018 = 163214

soma = somar_numeros(Paraná2014,Paraná2018)
print ("Número total de votos no Paraná em 2014 e 2018 é:",soma)

Número total de votos no Paraná em 2014 e 2018 é: 185732

In [27]:
print(df.tail())

   Sigla  Código             Estado  Ano 2014  Ano 2018
22    RS      43  Rio Grande do Sul     16882     45751
23    SC      42     Santa Catarina     17695      3278
24    SE      28            Sergipe     18110       553
25    SP      35          São Paulo    120661    309886
26    TO      17          Tocantins     32653     29149

In [105]:
Últimos_cinco_Estados_do_arquivo = ["Rio Grande do Sul", "Santa Catarina", "Sergipe", "São Paulo", "Tocantins"]
for i in Lista:
    print(i)

Rio Grande do Sul
Santa Catarina
Sergipe
São Paulo
Tocantins

In [ ]:
Ano2014 = 2293479
Ano2018 = 1687654

In [4]:
if ("Ano2014" < "Ano2018"):
    print("Ano2014 teve mais votos")
else:
    print("Ano2018 teve mais votos")

Ano2014 teve mais votos

In [4]:
import matplotlib.pyplot as plt

In [6]:
Parana = [22518,163214]
Sergipe = [18110,553]

plt.plot(Parana, Sergipe)
plt.show()

NameError: name 'plt' is not defined

In [1]:
plt.bar(Parana,Sergipe)
plt.show()

NameError: name 'plt' is not defined